<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container d-f justify-between__md align-center">
                <div class="header-phone">
                    <a href="tel:+380634153991">+380634153991</a>
                    <div>Звонки принимаем в рабочее время!</div>
                </div>
                <div class="header-text">
                    Интернет-магазин <br>Самоподсекающих удочек <span>FISHERGOMAN</span><br>С Доставкой по всей Украине
                </div>
                <div class="header-img">
                    <img src="images/header-img.jpg" alt="">
                </div>
            </div>
        </header>
        <section class="banner">
            <div class="container">
                <h1 class="text-center">С УДОЧКОЙ FISHERGOMAN ВЫ СТАНЕТЕ НАСТОЯЩИМ <br> КОРОЛЁМ РЫБАЛКИ!</h1>
                <div class="banner-heading text-center">В СЕЗОН ЦЕНА МОЖЕТ БЫТЬ УВЕЛИЧЕНА ДО 4-х РАЗ!</div>
                <div class="d-f justify-between__md">
                    <div class="banner-left">
                        <div>
                            <img src="images/super-action.png" alt="">
                            <img src="images/gift.png" alt="">
                        </div>
                        <div class="gift-text">При заказе удочки - <span>КАТУШКА и <br>FISHHUNGRY В ПОДАРОК</span></div>
                        <img src="images/gift-1.png" alt="">
                    </div>
                    <div class="banner-right">
                        Интернет-магазин <br>Самоподсекающих удочек FISHERGOMAN <br>С Доставкой по всей Украине
                        <div class="banner-form">
                            <div class="form-heading">Стоимость удочки: <img src="images/discount.png" alt=""></div>
                            <div class="form-price">
                                <span class="old-price">1300 грн</span>
                                <span class="new-price">599 грн</span>
                            </div>
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Введите имя">
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control js-phone" placeholder="Введите номер телефона">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary">заказать сейчас</button>
                                </div>
                                <div class="form-text"><img src="images/close.svg" alt="">Ваши данные не будут переданы третьим лицам</div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="timer">
            <div class="container d-f">
                <div class="timer-text">Специальная цена <br>истекает через:</div>
                <div class="timer-block"></div>
            </div>
        </section>
        <section class="fishing">
            <div class="container">
                <div class="fishing-item">
                    Каждый опытный рыбак знает, что на рыбалке очень ВАЖНО не пропустить момент поклёвки!
                </div>
                <div class="fishing-item">
                    С УДОЧКОЙ <span>FISHERGOMAN</span> РЫБА БУДЕТ ВАША <span class="inverse">ВСЕГДА!</span>
                </div>
            </div>
        </section>
        <section class="mechanic">
            <div class="container">
                <div class="text-center heading-h2"><span>САМОПОДСЕКАЮЩИЙ МЕХАНИЗМ</span></div>
            </div>
            <div class="d-f mechanic-holder">
                <div class="mechanic-text">
                    <p>Многоуровневая натяжка пружины спускаемого курка</p>
                    <p>Съемный держатель удочки</p>
                    <p>Механизм с тремя регулируемыми уровнями жесткости поклевки</p>
                </div>
                <div class="mechanic-img">
                    <img src="images/mechanic-1.jpg" alt="">
                </div>
            </div>
        </section>
        <div class="text-center btn-wrapper">
            <button class="btn btn-primary btn-primary__large btn-primary__inverse">заказать сейчас</button>
        </div>
        <section class="features">
            <div class="container">
                <div class="heading-h2 text-center"><span>Характеристики</span></div>
                <div class="d-f justify-center">
                    <div class="features-img">
                        <img src="images/udochka.jpg" alt="">
                    </div>
                    <ul class="features-list">
                        <li>Длина - 270см. - самая лучшая в Украине</li>
                        <li>Тест - 60 - 150 гр</li>
                        <li>Строй - Быстрый</li>
                        <li>Материал - Стеклопластик</li>
                        <li>Бланк - Телескоп</li>
                        <li>Тип колец - Металлокерамика</li>
                        <li>Съемный держатель удилища</li>
                        <li>Удобная рукоятка</li>
                        <li>Транспортная длина: 60 см</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="man-gift">
            <div class="container">
                <div class="gift-heading">ИДЕАЛЬНЫЙ ПОДАРОК ДЛЯ МУЖЧИНЫ</div>
                <div class="gift-container d-f align-center">
                    <img src="images/man.jpg" alt="">
                    <div class="man-text">
                        <div class="text-heading">У ВАС ПРИБЛИЖАЕТСЯ ТОРЖЕСТВО?
                        </div>
                        <p>А Вы даже не догадываетесь чем удивить боса, мужа, близкого друга, родственника или малознакомого, но интересного мужчину? Подарите ему самоподсекающую удочку FISHERGOMAN, радости не будет предела! Особенно, если виновник торжества разбирается в качественных вещах!
                        </p>
                        <p>Прочный механизм, отличное качество и необычайная практичность этой удочки будут ещё долго вызывать положительные эмоции у счастливчика. И это не удивительно! Ведь такой аксессуар обречен порадовать мужчину особенно в его выходной, когда он может расслабиться и насладиться отдыхом.  </p>
                        <p>Что ещё важно настоящему мужчине?</p>
                    </div>
                    <img src="images/man-gift.jpg" alt="">
                </div>
            </div>
        </section>
        <section class="slider">
            <div class="container">
                <div class="heading-h2 text-center"><span>ТАК ВЫГЛЯДИТ НАША УДОЧКА</span></div>
                <!-- Slider main container -->
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <img src="images/slide-1.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/slide-1.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="images/slide-1.jpg" alt="">
                        </div>
                    </div>
                    <!-- If we need pagination -->
                    <!-- If we need navigation buttons -->
                    <div class="swiper-toolbar">
                        <div class="swiper-button-prev">
                            <img src="images/arrow-left.png" alt="">
                        </div>
                        <div class="swiper-number">1-18</div>
                        <div class="swiper-button-next">
                            <img src="images/arrow-right.png" alt="">
                        </div>
                    </div>
                    <!-- If we need scrollbar -->
                </div>
            </div>
        </section>
        <section class="section-text">
            <div class="container">
                УСПЕЙТЕ ЗАКАЗАТЬ УДОЧКУ <span class="span-1">FISHERGOMAN</span><span class="span-2"> ПО СУПЕР-АКЦИИ</span>
                ПРИ ПОКУПКЕ УДОЧКИ - <span class="span-2">КАТУШКА и FISHHUNGRY в подарок!</span>
            </div>
        </section>
        <section class="garanty">
            <div class="container">
                <div class="heading-h2 text-center"><span>Гарантии</span></div>
                <div class="garanty-list">
                    <div class="garanty-item">
                        <div class="garanty-heading">КАЧЕСТВЕННЫЙ ТОВАР</div>
                        <img src="images/garanty-1.jpg" alt="">
                        <div class="garanty-text">Перед отправкой товары тщательно проверяются в ручную. В первую очередь мы думаем о своих клиентах.</div>
                    </div>
                    <div class="garanty-item">
                        <div class="garanty-heading">ВОЗВРАТ ДЕНЕГ</div>
                        <img src="images/garanty-2.jpg" alt="">
                        <div class="garanty-text">Мы соблюдаем закон "О защите прав потребителей". Обратитесь к нам по телефону, вышлите купленный товар и мы обменяем его на другой или вернем деньги.</div>
                    </div>
                    <div class="garanty-item">
                        <div class="garanty-heading">ОПЛАТА ПРИ ПОЛУЧЕНИИ</div>
                        <img src="images/garanty-3.jpg" alt="">
                        <div class="garanty-text">Мы не берем с вас предоплату. Оплата заказа осуществляется при получении в почтовом отделении.</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="reviews">
            <div class="container">
                <div class="heading-h2 text-center"><span>Отзывы наших покупателей</span></div>
                <div class="reviews-list">
                    <div class="reviews-item">
                        <div class="reviews-holder">
                            <div class="reviews-img">
                                <img src="images/review-1.png" alt="">
                            </div>
                            <div class="reviews-name">
                                Андрей Комаров
                            </div>
                            <div class="reviews-address">
                                Черкассы, <br>
                                https://vk.com/id367169535
                            </div>
                            <div class="reviews-text">Супер быстрая доставка 2 дня до Черкасс! Удочки и палатка высокого качества, доставка почтой Украине! Испытал на деле, работает. Все понравилось. Молодцы, рекомендую!</div>
                        </div>
                    </div>
                    <div class="reviews-item">
                        <div class="reviews-holder">
                            <div class="reviews-img">
                                <img src="images/review-2.png" alt="">
                            </div>
                            <div class="reviews-name">
                                Вероника
                            </div>
                            <div class="reviews-address">
                                Днепр
                            </div>
                            <div class="reviews-text">
                                Здравствуйте ! Раньше любимый муж ездил на рыбалку почти всегда один и если даже брал НАС, то всё равно был весь в рыбалке. Решила подарить ему эту удочку. И ВСЁ !!! ВСЁ изменилось... Теперь и рыбу ловим вместе и отдыхаем в это же время ВМЕСТЕ. Муж рад, я рада и сын всегда улыбается. СПАСИБО !!!
                            </div>
                        </div>
                    </div>
                    <div class="reviews-item">
                        <div class="reviews-holder">
                            <div class="reviews-img">
                                <img src="images/review-3.png" alt="">
                            </div>
                            <div class="reviews-name">
                                Светлана Якунина
                            </div>
                            <div class="reviews-address">
                                vk.com/id360207404
                            </div>
                            <div class="reviews-text">
                                Заказывала мужу на день рождения, долго искала в интернете что подарить, случайно попала на этот сайт. Заказала и переживала понравится ли мужу мой подарок)) А муж просто в восторге , он даже не слышал про такую удочку)) подарку очень рад. Спасибо вам ребята, выручили!
                            </div>
                        </div>
                    </div>
                    <div class="reviews-item">
                        <div class="reviews-holder">
                            <div class="reviews-img">
                                <img src="images/review-4.png" alt="">
                            </div>
                            <div class="reviews-name">
                                Богдан Беспалов
                            </div>
                            <div class="reviews-address">
                                Черкассы, <br>
                                vk.com/id361558386
                            </div>
                            <div class="reviews-text">
                                Удочка пришла быстро. Всё отлично. Покупкой очень доволен. За подарок отдельное спасибо.
                            </div>
                        </div>
                    </div>
                    <div class="reviews-item">
                        <div class="reviews-holder">
                            <div class="reviews-img">
                                <img src="images/review-5.png" alt="">
                            </div>
                            <div class="reviews-name">
                                Аркадий
                            </div>
                            <div class="reviews-address">
                                Черновцы
                            </div>
                            <div class="reviews-text">
                                Честно говоря сомневался заказывать через интернет, хорошо что оплата при получении. Но как говорится, не попробуешь не узнаешь! Заказал, получил, опробовал, РАБОТАЕТ! Все в точности как описано на сайте. Очень рад что все таки ЗАКАЗАЛ! Не сомневайтесь, заказывайте. Рекомендую.
                            </div>
                        </div>
                    </div>
                    <div class="reviews-item">
                        <div class="reviews-holder">
                            <div class="reviews-img">
                                <img src="images/review-6.png" alt="">
                            </div>
                            <div class="reviews-name">
                                Сергей Новиков
                            </div>
                            <div class="reviews-address">
                                Киев, <br>
                                https://vk.com/id379337544
                            </div>
                            <div class="reviews-text">
                                Удочка прикольная, да и пружина не такая жесткая, как казалось) Заказывал одну для проверки. Теперь еще буду тестю заказывать. Рекомендую!!! Как и говорил: заказал удочку и тестю. Теперь на рыбалке вдвоём и радуемся как дети любимой игрушке. И порыбачить и поговорить можно, а главное ОТДЫХ в кайф. Ещё раз СПАСИБО!!!!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviews-new d-f">
                    <div class="reviews-photo">Ваше <br> фото</div>
                    <div class="reviews-new__holder">
                        <div class="reviews-link">Ваше имя, vk.com/Ваша ссылка</div>
                        <p>Вы можете написать нам свой отзыв и мы обязательно разместим его на нашем сайте. Желательно приложить Вашу фотографию с приобретенным товаром!</p>
                        <p>Отзывы присылать по адресу: <a href="mailto:fishergoman_ua@mail.ru">fishergoman_ua@mail.ru</a></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="report">
            <div class="container">
                <div class="report-list">
                    <div class="report-item">
                        ЕЖЕМЕСЯЧНО <span>467</span>
                        ДОВОЛЬНЫХ КЛИЕНТОВ
                    </div>
                    <div class="report-item">
                        <span>2933</span> ВЫПОЛНЕННЫХ
                        ЗАКАЗОВ ЗА 2018 ГОД
                    </div>
                    <div class="report-item">
                        БОЛЕЕ <span>113</span>
                        ПОЛОЖИТЕЛЬНЫХ ОТЗЫВОВ
                    </div>
                    <div class="report-item"><span>6</span> ВОЗВРАТОВ
                        ЗА ВСЕ ВРЕМЯ</div>
                    <div class="report-item">ПОСТУПИЛО <span>102</span>
                        БЛАГОДАРСТВЕННЫХ ПИСЬМА</div>
                    <div class="report-item">В <span>98%</span>
                        ДОВОЛЬНЫЕ КЛИЕНТЫ</div>
                </div>
            </div>
        </section>
        <section class="delivery">
            <div class="container">
                <div class="heading-h2 text-center"><span>Доставка и оплата</span></div>

            </div>
        </section>
    </div>
    <script src="js/all.min.js"></script>
</body>

</html>