.header {
    border-bottom: 2px solid #ccc;
    height: 104px;
    padding-top: 10px;

    &-text {
        flex: 0 0 50%;
        background-image: url('../images/header-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        padding: 10px 60px 28px;
        color: #fff;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.04em;

        color: #FFFFFF;

        span {
            font-style: italic;
            color: yellow;
        }
    }

    &-phone {
        flex: 0 0 20%;
        padding-right: 45px;
        font-weight: 500;
        font-size: 14px;
        line-height: normal;
        letter-spacing: 0.02em;
        color: #000000;

        a {
            display: inline-block;
            text-decoration: none;
            margin-bottom: 18px;
        }
    }
}

.banner {
    padding: 65px 0;
    background-image: url('../images/banner-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    h1 {
        margin: 0 0 24px;
    }

    &-heading {
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: normal;
        text-align: center;
        color: #F8232B;
        margin-bottom: 45px;
    }

    &-left,
    &-right {
        flex: 0 0 50%;
    }

    &-right {
        font-family: Arial;
        font-size: 18px;
        line-height: normal;
        text-align: center;
        color: #000000;
    }

    &-form {
        padding-top: 150px;
        text-align: left;
    }
}

.form-price {
    margin-bottom: 20px;
}

.form-control {
    background: #F2F2F2;
    border: 1px solid #AFAFAF;
    border-radius: 8px;
    padding: 18px;
    font-weight: normal;
    font-size: 18px;
    color: #757575;
    box-shadow: none;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.form-group {
    margin-bottom: 16px;
}

.form-text {
    font-size: 14px;
    line-height: normal;
    color: #757575;

    img {
        margin: 0 20px;
        display: inline-block;
        vertical-align: middle;
    }
}

.old-price {
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: right;
    text-decoration-line: line-through;

    color: #000000;
}

.new-price {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-left: 75px;
    color: #F8232B;
}

.form-heading {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.4);

    img {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
    }
}

.gift-text {
    padding: 15px 0 23px;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    max-width: 300px;

    span {
        color: #ff0000;
    }
}

.timer {
    background: #212452;
    padding: 40px 0;

    &-text {
        color: #fff;
        font-size: 36px;
        line-height: 46px;
        text-align: right;
        text-transform: uppercase;
        flex: 0 0 50%;
        padding-left: 70px;
    }
}

.fishing {
    height: 780px;
    background-image: url('../images/fish-bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 24px 0;

    &-item {
        font-weight: 500;
        background: rgba(255, 255, 255, 0.6);
        padding: 10px 0;
        text-align: center;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 8px;

        .inverse {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}

.mechanic {
    padding-top: 80px;
    padding-bottom: 80px;

    &-heading {
        font-weight: 500;
        font-size: 24px;
        line-height: normal;
        letter-spacing: 0.02em;
        position: relative;
        overflow: hidden;
        margin-bottom: 40px;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 13px;
            height: 3px;
            background-color: #212452;
        }

        span {
            display: inline-block;
            padding: 0 10px;
            background-color: #fff;
            position: relative;
            z-index: 1;
        }
    }

    &-holder {
        max-width: 980px;
        margin: 0 auto;
    }

    &-text {
        flex: 0 0 60%;
        padding: 0 15px;
        background: #212452;
        border: 9px solid #212452;
        /* firm_shadow */
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.35);
        border-radius: 4px;

        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;

        color: #FFFFFF;

        /* text_shadow */
        text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);

        p {
            padding-bottom: 20px;
            position: relative;

            &:not(:last-child) {
                &:before {
                    content: '';
                    position: absolute;
                    width: 30px;
                    height: 3px;
                    background-color: #fff;
                    left: 50%;
                    transform: translate(-50%, 0);
                    bottom: 0;
                }
            }
        }
    }

    &-img {
        padding: 0 15px;
        max-width: 40%;
    }
}

.heading-h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.02em;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 13px;
        height: 3px;
        background-color: #212452;
    }

    span {
        display: inline-block;
        padding: 0 10px;
        background-color: #fff;
        position: relative;
        z-index: 1;
    }
}

.btn-wrapper {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 36px;
        height: 3px;
        background-color: #212452;
        z-index: -1;
    }
}

.features {
    padding-top: 80px;
}

.gift-heading {
    position: relative;
    display: inline-block;
    background-color: #FEFB00;
    font-weight: 500;
    font-size: 36px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    padding: 10px 50px;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
    }

    &:before {
        width: 0;
        height: 0;
        border-style: solid;
        left: 0;
        border-width: 30px 0 30px 40px;
        border-color: transparent transparent transparent #fff;
    }

    &:after {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 40px 30px 0;
        border-color: transparent #fff transparent transparent;
        right: 0;
    }
}

.man-gift {
    padding-top: 80px;
}